# FOLDERS
logs/
plugins/bStats/
plugins/LoupGarou builds - Shortcut.lnk
plugins/PluginMetrics/

# MAIN MAP
world/advancements/
world/data/raids.dat
world/level.dat_old
world/playerdata/
world/poi/
world/session.lock
world/stats/

# OTHER DIMENSIONS
world_nether/
world_the_end/

# FILES
banned-ips.json
banned-players.json
help.yml
ops.json
usercache.json
